.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 37, 193, 0.54);
}

.flex-box-rps {
    display: flex;
    border: 1px solid #000;
    padding: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

img {
    margin: 0 25px;
}

.container {
    border: 1px solid #000;
    width: 78%;
    margin: 0 auto;
    text-align: center;
}

